# Copyright (c) 2024 Kuba Birecki
# SPDX-License-Identifier: MIT

# Board definition
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_ONIGIRI=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable FPU
CONFIG_FPU=y

# Enable code partitions
CONFIG_USE_DT_CODE_PARTITION=y

# Enable flash
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable Library
CONFIG_NEWLIB_LIBC=y

# Enable I2C
CONFIG_I2C=y
CONFIG_I2C_NRFX=y

# Enable GPIO
CONFIG_GPIO=y

# Enable reset pin
CONFIG_GPIO_AS_PINRESET=y

# Enable IS31Fl3743A driver
CONFIG_LED_STRIP=y
CONFIG_LED_STRIP_IS31FL3743A=y

# ZMK Features
CONFIG_ZMK_BLE=y
# CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_USB=y
CONFIG_ZMK_RGB_FX=y

CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_NEWLIB_LIBC_FLOAT_PRINTF=y
