# Copyright (c) 2021 Kuba Birecki
# SPDX-License-Identifier: MIT

# Board definition
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_MURI_ONE=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable FPU
CONFIG_FPU=y

# Enable code partitions
CONFIG_USE_DT_CODE_PARTITION=y

# Enable flash
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable Library
CONFIG_NEWLIB_LIBC=y

# Enable I2C
CONFIG_I2C=y
CONFIG_I2C_0=y

# Enable GPIO
CONFIG_GPIO=y

# Enable reset pin
CONFIG_GPIO_AS_PINRESET=y

# Enable USB
CONFIG_USB=y

# Enable IS31Fl3741 driver
CONFIG_IS31FL3741=y

# Enable CY8CMBR3106s driver
CONFIG_CY8CMBR3106S=y

# ZMK Features
CONFIG_ZMK_ANIMATION=y
CONFIG_ZMK_SETTINGS_SAVE_DEBOUNCE=15000
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_TOUCH_SLIDER=y
CONFIG_ZMK_HID_CONSUMER_REPORT_USAGES_BASIC=y

# Enable logging
CONFIG_ZMK_USB_LOGGING=y
CONFIG_LOG=y
CONFIG_PRINTK=y
CONFIG_CONSOLE=y
